Repository ghmo2789/puppet-master, pull requests merged in 2022-12, with the labels that each got.

#96 Control server bugfixes and minor additions
  .github/workflows/test-control-server.yml
  control_server/src/data/client_task.py
  control_server/src/data/client_task_response.py
  control_server/src/data/serializable.py
  control_server/src/data/task.py
  control_server/src/data/task_status.py
  control_server/src/database/database.py
  control_server/src/database/mock_database.py
  control_server/src/database/mongo_database.py
  control_server/src/endpoints/admin.py
  control_server/src/endpoints/client.py
  control_server/src/middleware.py
  control_server/src/middleware/__init__.py
  control_server/src/middleware/event.py
  control_server/src/middleware/events/__init__.py
  control_server/src/middleware/events/ip_message.py
  control_server/src/middleware/events/message_received_event.py
  control_server/src/middleware/events/responding_message.py
  control_server/src/middleware/events/udp_receive_event.py
  control_server/src/middleware/headers/__init__.py
  control_server/src/middleware/headers/byte_convertible.py
  control_server/src/middleware/headers/byte_property.py
  control_server/src/middleware/headers/message_header.py
  control_server/src/middleware/headers/string_property.py
  control_server/src/middleware/messages/__init__.py
  control_server/src/middleware/messages/generic_message.py
  control_server/src/middleware/udp_control_listener.py
  control_server/src/middleware/udp_messages/__init__.py
  control_server/src/middleware/udp_server.py
  control_server/src/router.py
  control_server/src/web_settings.py
  control_server/tests/client/task_result_test.py
  control_server/tests/client/task_test.py
  control_server/tests/middleware/__init__.py
  control_server/tests/middleware/generic_message_test.py
  control_server/tests/middleware/message_header_test.py
  control_server/tests/middleware/udp_control_listener_test.py
  control_server/tests/middleware/udp_server_test.py
  control_server/tests/utils/header_utils.py
  control_server/tests/utils/udp_utils.py
Labels: control server

#99 Abort task
  web-server/django_web_server/website/migrations/0002_rename_finish_time_senttask_status.py
  web-server/django_web_server/website/migrations/0003_rename_task_id_senttask_id.py
  web-server/django_web_server/website/migrations/0004_senttask_task_id.py
  web-server/django_web_server/website/models.py
  web-server/django_web_server/website/server.py
  web-server/django_web_server/website/templates/website/index.html
  web-server/django_web_server/website/templates/website/tasks.html
  web-server/django_web_server/website/views.py
  web-server/requirements.txt
Labels: web server

#103 Client UDP communication
  client/.cargo/config.toml
  client/README.md
  client/src/communication.rs
  client/src/communication/http.rs
  client/src/communication/udp.rs
  client/src/main.rs
  client/src/tasks.rs
  client/test/mock_server.py
Labels: client

#108 Control server UDP middleware
  .github/workflows/test-control-server.yml
  control_server/Dockerfile
  control_server/requirements.txt
  control_server/src/controller.py
  control_server/src/endpoints/admin.py
  control_server/src/endpoints/client.py
  control_server/src/middleware/events/ip_message.py
  control_server/src/middleware/events/message_received_event.py
  control_server/src/middleware/events/responding_message.py
  control_server/src/middleware/events/udp_receive_event.py
  control_server/src/middleware/forwarding_udp_control_listener.py
  control_server/src/middleware/generic_message_builder.py
  control_server/src/middleware/headers/byte_convertible.py
  control_server/src/middleware/headers/byte_property.py
  control_server/src/middleware/headers/message_header.py
  control_server/src/middleware/headers/string_property.py
  control_server/src/middleware/http_method.py
  control_server/src/middleware/messages/generic_message.py
  control_server/src/middleware/udp_control_listener.py
  control_server/src/middleware/udp_messages/__init__.py
  control_server/src/middleware/udp_server.py
  control_server/src/router.py
  control_server/src/web_settings.py
  control_server/tests/conftest.py
  control_server/tests/middleware/forwarding_udp_control_listener_test.py
  control_server/tests/middleware/generic_message_test.py
  control_server/tests/middleware/message_header_test.py
  control_server/tests/middleware/udp_control_listener_test.py
  control_server/tests/middleware/udp_server_test.py
  control_server/tests/utils/header_utils.py
  control_server/tests/utils/udp_utils.py
Labels: control server

#110 Control server admin
  control_server/src/data/task.py
  control_server/src/database/mock_database.py
  control_server/src/endpoints/admin.py
  control_server/src/endpoints/client.py
  control_server/tests/admin/all_client_get_test.py
  control_server/tests/admin/client_get_test.py
  control_server/tests/admin/task_get_admin_test.py
  control_server/tests/admin/task_post_admin_test.py
Labels: control server

#113 Control server UDP packet obfuscation, compression and checksum
  .gitignore
  control_server/README.md
  control_server/requirements.txt
  control_server/sample.env
  control_server/src/middleware/checksum.py
  control_server/src/middleware/compression/__init__.py
  control_server/src/middleware/compression/compression.py
  control_server/src/middleware/compression/compression_method.py
  control_server/src/middleware/compression/static_compression_method.py
  control_server/src/middleware/events/message_received_event.py
  control_server/src/middleware/forwarding_udp_control_listener.py
  control_server/src/middleware/generic_message_builder.py
  control_server/src/middleware/headers/byte_convertible.py
  control_server/src/middleware/headers/message_header.py
  control_server/src/middleware/messages/generic_message.py
  control_server/src/middleware/obfuscation_key.py
  control_server/src/middleware/udp_control_listener.py
  control_server/src/middleware/udp_server.py
  control_server/tests/conftest.py
  control_server/tests/middleware/forwarding_udp_control_listener_test.py
  control_server/tests/middleware/generic_message_test.py
  control_server/tests/middleware/message_header_test.py
  control_server/tests/middleware/udp_control_listener_test.py
  control_server/tests/middleware/udp_server_test.py
  control_server/tests/utils/udp_utils.py
Labels: control server

#135 Control server bugfixes and feature implementations
  .github/workflows/test-control-server.yml
  control_server/src/crypto/client_id_generator.py
  control_server/src/data/client_task_response_collection.py
  control_server/src/data/identifying_client_data.py
  control_server/src/database/database.py
  control_server/src/database/database_collection.py
  control_server/src/database/mock_database.py
  control_server/src/database/mongo_database.py
  control_server/src/endpoints/admin.py
  control_server/src/endpoints/client.py
  control_server/tests/admin/all_client_get_test.py
  control_server/tests/admin/client_get_test.py
  control_server/tests/admin/task_get_admin_test.py
  control_server/tests/admin/task_post_admin_test.py
  control_server/tests/client/init_test.py
  control_server/tests/client/task_result_test.py
  control_server/tests/client/task_test.py
  control_server/tests/client_id_generator_test.py
  control_server/tests/database/database_test_utils.py
  control_server/tests/database/mock_database_test.py
  control_server/tests/database/mongo_database_test.py
Labels: control server

#119 Client UDP compression
  .github/workflows/test-client.yml
  client/Cargo.lock
  client/Cargo.toml
  client/src/communication/udp.rs
  client/src/tasks.rs
  client/test/mock_server.py
  client/test/requirements.txt
Labels: client

#141 Control server admin
  control_server/src/data/client_task_response.py
  control_server/src/endpoints/admin.py
  control_server/src/router.py
  control_server/tests/admin/test_get_task_output.py
Labels: control server

#146 Add support for running the client in a docker container
  client/.dockerignore
  client/Dockerfile
  client/README.md
  client/docker-compose.yml
  client/sample.env
  client/start-docker-container.sh
Labels: client

#144 Added update of client's last_seen for more endpoints
  control_server/src/data/identifying_client_data.py
  control_server/src/endpoints/client.py
  control_server/src/utils/client_utils.py
  control_server/tests/admin/all_client_get_test.py
  control_server/tests/client/task_result_test.py
  control_server/tests/client/task_test.py
Labels: control server
